<tr class="clickable-row">
  <td>{{ object.id }}</td>
  <td>{{ object.hardware.hardware_category }}</td>
  <td>{{ object.hardware.cs_code }}</td>
  <td>{{ object.hardware.supervendor_code }}</td>
  <td>{{ object.hardware.material_description }}</td>
  <td>{{ object.hardware.unity }}</td>
  <td>{{ object.hardware.total_quantity }}</td>
  <td>{{ object.serial }}</td>
  <td>{{ object.site }}</td>
  <td>{{ object.quantity }}</td>
  <td>{{ object.hardware_state }}</td>
  <td>{{ object.active_avantel }}</td>
  <td>{{ object.state_avantel }}</td>
</tr>