{% load static %}
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{% url 'users:home' %}">
    <img src="{% static 'vendor/img/logo.svg' %}" width="25" height="25" class="d-inline-block align-top" alt="">
    SyF Hardware
  </a>
  <div class="">
    <a class="nav-link btn btn-dark" href="#" id="sidebar-toggle"><span data-feather="menu"></span></a>
  </div>
  <div class="w-100">
    <form class="form-inline" action="" onsubmit="return search_url (this)" method="get" accept-charset="utf-8">
      <div class="form-group w-100">
        <input type="text" class="form-control form-control-dark w-100" name="q" placeholder="Buscar" required>
      </div>
    </form>
  </div>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="{% url 'users:logout' %}">{{ user.get_full_name }} <span data-feather="log-out"></span></a>
    </li>
  </ul>
</nav>