{% extends 'base_modal.html' %}
{% load crispy_forms_tags %}
{% block tilte_modal %}Login{% endblock tilte_modal %}

{% block body_modal %}
<form method="POST" action="{% url 'user:login' %}" class="">{% csrf_token %}
  <div class="form-group">
    {{ form|crispy }}
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </div>
</form>
{% endblock body_modal %}

{% block success_url %}
'{% url 'user:home' %}'
{% endblock success_url %}