<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">{% block tilte_modal %}{% endblock tilte_modal %}</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      {% block body_modal %}
      {% endblock body_modal %}
    </div>
  </div>
</div>

<script>
$(function () {
  var success_url = {% block success_url %}{% endblock success_url %};
  var modal_body = $('.modal-body');
  var modal_load_error = 'ERROR! la informacion no fue cargada.';
  $('form').submit(function(event) {
    event.preventDefault();
    $.ajax({
      url : this.action,
      type: 'POST',
      data: $(this).serialize(),
      success: function (data) {
        if ( $(data).find('div.alert.alert-block.alert-danger').length > 0 || ( $(data).find('p.invalid-feedback').length > 0 )) {
          error_raise = $(data).find('div.alert.alert-block.alert-danger')
          error_field = $(data).find('p.invalid-feedback').attr('class', 'text-danger')
          modal_body.append(error_raise, error_field);
        } else {
          window.location.href = success_url;
        };
      },
      error: function (xhr) {
        console.log(xhr.responseText)
        modal_body.text(modal_load_error);
      }
    });
  });
})
</script>

<script>
jQuery.fn.filterByText = function(textbox) {
  return this.each(function() {
    var select = this;
    var options = [];
    $(select).find('option').each(function() {
      options.push({
        value: $(this).val(),
        text: $(this).text()
      });
    });
    $(select).data('options', options);
    $(textbox).bind('change keyup', function() {
      var options = $(select).empty().data('options');
      var search = $.trim($(this).val());
      var regex = new RegExp(search, "gi");
      $.each(options, function(i) {
        var option = options[i];
        if (option.text.match(regex) !== null) {
          $(select).append(
            $('<option>').text(option.text).val(option.value)
          );
        }
      });
    });
  });
};
$(function() {
  $("#id_estacion").filterByText($("#buscar"));
});
</script>